<%- include('includes/head.ejs') %>
</head>

<body>

    <h1>Page Not Found!</h1>
    <p>
        Er liep iets fout. Onze code-monkeys doen er alles aan om dit te verhelpen.
    </p>
    <div class="tenor-gif-embed" data-postid="12875166" data-share-method="host" data-width="100%" data-aspect-ratio="1.7777777777777777"><a href="https://tenor.com/view/baboon-laptop-gif-12875166">Baboon Laptop GIF</a> from <a href="https://tenor.com/search/baboon-gifs">Baboon GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>

<%- include('includes/end.ejs') %>